  .music {
		height: 70px;
		left: 0;
		width: 330px;
		background: rgba(255,255,255,1);
		color: white;
		text-align: center;
		position: fixed;
		top:0;
		z-index: 999;
		box-shadow: 0 0 10px #ccc;
		font-family: KaiTi;
	}

	.music .m-play {
		width: 32px;
		height: 32px;
		background: url('http://music.163.com/style/web2/img/outchain/audio_sprite.png') no-repeat 0 9999px;
		background-position: -68px -118px;
		position: absolute;
		left: 19px;
		top: 19px;
		z-index: 99;
		cursor: pointer;
	}

	.music .m-play:hover {
		background-position: -68px -167px;
	}

	.music .m-pause {
		width: 20px;
		height: 20px;
		background: url('http://music.163.com/style/web2/img/outchain/audio_sprite.png') no-repeat 0 9999px;
		background-position: 0 -60px;
		position: absolute;
		z-index: 99;
		bottom: 2px;
		right: 2px;
		cursor: pointer;
	}

	.music .m-pause:hover {
		background-position: 0 -157px;
	}

	.music audio {
		width:300px;
		height:60px;
	}

	.music-wrap {
		width: 260px;
		height: 70px;
		position: absolute;
		top: 0;
		left: 70px;
	}

	.music .play {
		width:21px;
		height:29px;
		background-position: 0 0;
		margin-top: 6px;
		margin-right: 30px;
	}

	.music-show {
		width: 100%;
		height: 100%;
		float: left;
		user-select: none;
	}

	.music-name {
		font-size: 16px;
		text-align: left;
		top: 10px;
		left: 28px;
		line-height: 30px;
		height: 30px;
		width: 210px;
		color: black;
		font-family: KaiTi;
		position: absolute;
		-webkit-user-select: none; /* Chrome/Safari/Opera */
		-moz-user-select: none; /* Firefox */
	}

	.ico {
		width: 20px;
		height: 20px;
		position: absolute;
		top: 15px;
		left: 5px;
	}

	.music-time {
		position: absolute;
		bottom: 3px;
		right: 5px;
		z-index: 100;
		color: black;
	}

	.music-show-name {
		z-index: 60;
		max-width: 350px;
		height: 30px;
		word-break:keep-all;/* 不换行 */
		white-space:nowrap;/* 不换行 */
		overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */
		text-overflow:ellipsis;/* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用。*/
	}

	.music-time span {
		font-family: 'KaiTi','-webkit-pictograph';
		font-size: 14px;
	}

	.music-png {
		width: 70px;
		height: 70px;
		position: absolute;
		top: 0;
		left: 0;
	}

	.music-png img {
		width: 70px;
		height: 70px;
		position: absolute;
		top: 0;
		left: 0;
	}

	.music-bar {
		width:195px;
		height:2px;
		background: rgba(135, 129, 130,0.8);
		position: absolute;
		bottom: 12px;
		left: 7px;
		cursor: pointer;
	}

	.music-plan {
		position: absolute;
		width:0;
		height:2px;
		background: skyblue;
	}

	.music-drag {
		position: absolute;
		width:8px;
		height:8px;
		border-radius: 50%;
		background: white;
		left:0;
		top:-4px;
		cursor: pointer;
		border: 1px solid #4C4C4C;
	}
